<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<clear/>
		<add name="mssql" connectionString="server=.;database=TeachAssist;integrated security=SSPI" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>